* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: "Lucida Sans", sans-serif;
}

.main h1 {
  font-size: 3rem;
}
.main h2 {
  font-size: 2.5rem;
}
.main h3 {
  font-size: 2.25rem;
}
.main h4 {
  font-size: 2rem;
}
.main h5 {
  font-size: 1.75rem;
}
.main h6 {
  font-size: 1.5rem;
}
.main a {
  font-size: 1.25rem;
}

.btn {
  background-color: yellowgreen;
  border-color: yellowgreen;
  color: #000000;
}

.article__heading {
  width: 50%;
}
.article__image {
  width: 75%;
  margin-bottom: 2.5rem;
}
.article__body {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}
.article__tag {
  font-size: 1.2rem;
}

.menu__link:hover {
  font-weight: 600;
}

header .navbar {
  background-color: #7ca035;
}
header .region-nav-additional {
  display: flex;
  justify-content: center;
}

footer {
  background-color: #7ca035;
}

main {
  background: #e5ecdc;
}