$light: #ffffff;
$dark: #000000;
$primary-color: #7ca035;
$button-primary: yellowgreen;

$h1-font-size: 3rem;
$h2-font-size: 2.5rem;
$h3-font-size: 2.25rem;
$h4-font-size: 2rem;
$h5-font-size: 1.75rem;
$h6-font-size: 1.5rem;
$link-font-size: 1.25rem;
