.article {

  &__heading {
    width: 50%;
  }

  &__image {
    width: 75%;
    margin-bottom: 2.5rem;
  }

  &__body {
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
  }

  &__tag {
    font-size: 1.2rem;
  }
}